@import './markdown.css';

html,
body,
#__nuxt {
  height: 100%;
  margin: 0;
  padding: 0;
}

html.dark {
  background: #121212;
}

#nprogress {
  pointer-events: none;
}

#nprogress .bar {
  @apply bg-sky-600 opacity-75;

  position: fixed;
  z-index: 1031;
  top: 0;
  left: 0;

  width: 100%;
  height: 2px;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px
}

::-webkit-scrollbar-track {
  background-color: rgba(73, 177, 245, .2);
  border-radius: 2em;
}

::-webkit-scrollbar-thumb {
  background-color: #49b1f5;
  background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, .4) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .4) 50%, rgba(255, 255, 255, .4) 75%, transparent 75%, transparent);
  border-radius: 2em;
}

.dark ::-webkit-scrollbar-track {
  background-color: gray;
}

.dark ::-webkit-scrollbar-thumb {
  background-color: rgba(73, 177, 245, .4);
  background-image: none;
}

::-webkit-scrollbar-corner {
  background-color: transparent
}


/* 自动目录 */
@media (max-width: 1200px) {
  .table-of-contents {
    display: none;
  }
}

.table-of-contents {
  position: fixed;
  top: 80px;
  padding-top: 70px;
  font-size: 0.8em;
  right: 10rem;
  width: 200px;
  bottom: 0;
  overflow-y: auto;
  overflow-x: hidden;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
  opacity: 0.3;
  -webkit-transition: all .4s ease-out;
  -o-transition: all .4s ease-out;
  transition: all .4s ease-out;
}

.table-of-contents:hover {
  opacity: 0.8;
}

.table-of-contents ul > li::before {
  display: none;
}

.table-of-contents ul > li {
  padding-left: 0.8rem;
}